.crearGif {
  width: 100%;
  height: 572px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .contentCont {
    display: flex;
    flex-direction: row;
    align-items: center;

    .camaraImgCont {
      display: flex;
      align-items: center;

      .imgCamera {
        margin-right: -70px;
        height: 200px;
        width: 200px;
        background: url("/img/camara.svg") no-repeat;
      }
      .imgLuzCamera {
        margin-bottom: 10px;
        margin-right: -10px;
        width: 76px;
        height: 151px;
        background: url("/img/element-luz-camara.svg") no-repeat;
      }
    }

    .videoCont {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-left: 50px;
      height: 390px;
      width: 688px;
      border: solid 1px $background_accents;

      .gifPreview {
        display: none;
        align-self: center;
        height: 320px;
        width: 480px;
        position: relative;
      }

      .gifPreviewPurple {
        display: none;
        flex-direction: column;
        align-self: center;
        height: 320px;
        width: 480px;
        opacity: 0.6;
        background: #572ee5;
        z-index: 1;
        position: absolute;
        margin-left: 103px;

        .iconsCard {
          align-self: flex-end;
          margin-top: 12px;
          margin-right: 12px;

          img {
            opacity: 0.7;
          }
          img:hover {
            opacity: 1;
          }
        }

        .indicators {
          margin-top: 80px;
          align-self: center;
          .loading {
            height: 22px;
            width: 22px;
          }
          .check {
            display: none;
            height: 13px;
            width: 18px;
          }
        }

        .insideText {
          font-family: $font-montserrat;
          font-size: 15px;
          font-weight: bold;
          color: #ffffff;
          text-align: center;
        }
      }

      .videoFrame {
        display: none;
        align-self: center;
        height: 320px;
        width: 480px;
      }

      .Msgs {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .mainMsg {
          text-align: center;
          border-bottom: 3px;
          font-family: $font-montserrat;
          font-weight: bold;
          font-size: 25px;
          color: $background_accents;
          line-height: 35px;

          span {
            color: $green_icons;
          }
        }

        .secMsg {
          text-align: center;
          font-family: $font-roboto;
          font-size: 16px;
          color: #000000;
          line-height: 29px;
        }
      }

      .leftBorders {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .borderTopLeft {
          margin-top: 24px;
          margin-left: 20px;
          height: 27px;
          width: 25px;
          background: url("/img/border1.svg") no-repeat;
        }

        .borderBottomLeft {
          margin-bottom: 24px;
          margin-left: 20px;
          transform: rotate(270deg);
          height: 27px;
          width: 25px;
          background: url("/img/border1.svg") no-repeat;
        }
      }

      .rightBorders {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .borderTopRight {
          margin-top: 24px;
          margin-right: 20px;
          transform: rotate(90deg);
          height: 27px;
          width: 25px;
          background: url("/img/border1.svg") no-repeat;
        }

        .borderBottomRight {
          margin-bottom: 24px;
          transform: rotate(180deg);
          height: 27px;
          width: 25px;
          background: url("/img/border1.svg") no-repeat;
        }
      }
    }

    .imgTape {
      margin-top: 450px;
      margin-left: 67px;
      height: 100px;
      width: 200px;
      background: url("/img/pelicula.svg") no-repeat;
    }
  }

  .footerCreateGif {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .steps {
      display: flex;
      justify-content: space-between;
      margin-top: -50px;
    }

    .steps > * {
      border-radius: 50%;
      width: 32px;
      height: 32px;
      padding: 5px;
      background: #fff;
      border: 1px solid $background_accents;
      color: $background_accents;
      text-align: center;
      font: 18px $font-roboto;
      margin-right: 26px;
    }
  }

  .infoRec {
    display: flex;
    width: 650px;
    justify-content: flex-end;

    .gifTimer {
      display: none;
      align-self: center;
      margin-top: -70px;
      font-family: $font-montserrat;
      font-weight: bold;
      font-size: 15px;
      color: #572ee5;
      letter-spacing: 0;
      text-align: center;
      line-height: 22px;
    }

    .repeatBtn {
      display: none;
      align-self: center;
      margin-top: -70px;
      font-family: $font-montserrat;
      font-size: 13px;
      font-weight: bold;
      color: $background_accents;
      letter-spacing: 0;
      text-align: center;

      a {
        text-decoration-line: underline;
        text-decoration-thickness: 2px;
        text-decoration-color: $green_icons;
      }
    }
  }

  .lineSeparator {
    display: flex;
    border: 3.45px solid $background_accents;
    width: 795.9px;
    background-color: $background_accents;
    border-radius: 25px;
  }

  .startBtn {
    margin-top: 20px;
    margin-bottom: 26px;
    padding: 16px 0 16px 0;
    width: 127px;
    height: 50px;
    border: 1px solid #572ee5;
    border-radius: 25px;
    text-align: center;

    a {
      background: #fff;
      font-family: $font-montserrat;
      font-size: 13px;
      font-weight: bold;
      color: $background_accents;
      letter-spacing: 0;
    }
  }

  .startBtn:hover {
    background-color: $background_accents;
    a {
      background-color: $background_accents;
      color: $background_primary;
    }
  }

  .startBtn:active {
    background-color: #9cafc3;
    border: 1px solid #9cafc3;
    a {
      background-color: #9cafc3;
      color: $background_primary;
    }
  }

  .recBtn {
    display: none;
    margin-top: 20px;
    margin-bottom: 26px;
    padding: 16px 0 16px 0;
    width: 127px;
    height: 50px;
    border: 1px solid #572ee5;
    border-radius: 25px;
    text-align: center;

    a {
      background: #fff;
      font-family: $font-montserrat;
      font-size: 13px;
      font-weight: bold;
      color: $background_accents;
      letter-spacing: 0;
    }
  }

  .recBtn:hover {
    background-color: $background_accents;
    a {
      background-color: $background_accents;
      color: $background_primary;
    }
  }

  .recBtn:active {
    background-color: #9cafc3;
    border: 1px solid #9cafc3;
    a {
      background-color: #9cafc3;
      color: $background_primary;
    }
  }

  .endBtn {
    display: none;
    margin-top: 20px;
    margin-bottom: 26px;
    padding: 16px 0 16px 0;
    width: 127px;
    height: 50px;
    border: 1px solid #572ee5;
    border-radius: 25px;
    text-align: center;

    a {
      background: #fff;
      font-family: $font-montserrat;
      font-size: 13px;
      font-weight: bold;
      color: $background_accents;
      letter-spacing: 0;
    }
  }

  .endBtn:hover {
    background-color: $background_accents;
    a {
      background-color: $background_accents;
      color: $background_primary;
    }
  }

  .endBtn:active {
    background-color: #9cafc3;
    border: 1px solid #9cafc3;
    a {
      background-color: #9cafc3;
      color: $background_primary;
    }
  }

  .uploadBtn {
    display: none;
    margin-top: 20px;
    margin-bottom: 26px;
    padding: 16px 0 16px 0;
    width: 127px;
    height: 50px;
    border: 1px solid #572ee5;
    border-radius: 25px;
    text-align: center;

    a {
      background: #fff;
      font-family: $font-montserrat;
      font-size: 13px;
      font-weight: bold;
      color: $background_accents;
      letter-spacing: 0;
    }
  }

  .uploadBtn:hover {
    background-color: $background_accents;
    a {
      background-color: $background_accents;
      color: $background_primary;
    }
  }

  .uploadBtn:active {
    background-color: #9cafc3;
    border: 1px solid #9cafc3;
    a {
      background-color: #9cafc3;
      color: $background_primary;
    }
  }
}
