.favoritos {
  display: flex;
  flex-direction: column;
  align-items: center;

  .favLogo {
    margin-top: 11px;
    align-self: center;
    width: 28px;
    height: 21px;
  }

  h2 {
    margin-top: 8px;
    font-family: $font-montserrat;
    font-size: 25px;
    color: var(--text);
    text-align: center;
    line-height: 30px;
    margin-bottom: 36px;
  }

  .btnVerMas {
    margin-bottom: 95px;
    margin-top: 78px;
    width: 127px;
    height: 50px;
    background: var(--verMas) no-repeat;
  }

  .btnVerMas:hover {
    background: var(--verMasHover) no-repeat;
  }

  .noContent {
    display: none;
    flex-direction: column;
    align-items: center;

    .imgNoContent {
      margin-top: 109.3px;
      margin-bottom: 23.7px;
      width: 150px;
      height: 151px;
    }

    p {
      font-family: $font-montserrat;
      font-size: 22px;
      color: $green_icons;
      text-align: center;
      line-height: 33px;
      margin-bottom: 137px;
    }
  }
}

/*mobile*/
@media screen and (max-width: 375px) {
  .favoritos {
    .favLogo {
      margin-top: 5px;
    }

    h2 {
      margin-top: 7px;
      line-height: 29px;
      margin-bottom: 46px;
    }
  }
}
