.misGifs {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  justify-content: center;

  .iconMisGifos {
    align-self: center;
    margin-top: 10px;
    width: 24px;
    height: 21.9px;
  }

  h2 {
    margin-top: 8px;
    font-family: $font-montserrat;
    font-size: 25px;
    color: $background_accents;
    line-height: 30px;
    margin-bottom: 36px;
  }

  .btnVerMas {
    display: none;
    align-self: center;
    margin-bottom: 95px;
    margin-top: 78px;
    width: 127px;
    height: 50px;
    background: url("/img/CTA-ver-mas.svg") no-repeat;
  }

  .btnVerMas:hover {
    background: url("/img/CTA-ver-mas-hover.svg") no-repeat;
  }

  .misGifosNoContent {
    .IMGmisGifosNoContent {
      margin-top: 109.3px;
      margin-bottom: 23.7px;
      width: 150px;
      height: 151px;
    }

    p {
      font-family: $font-montserrat;
      font-size: 22px;
      color: $green_icons;
      text-align: center;
      line-height: 33px;
      margin-bottom: 137px;
    }
  }
}
