header {
  .top-accent {
    width: 100%;
    height: 5px;
    background-color: var(--accents);
  }

  nav {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      height: 59.1px;
      width: 59.1px;
      margin-left: 156px;
      background: var(--logo);
    }

    .btncontrol {
      display: none;
    }

    .icons {
      display: none;
    }

    .listas-nav {
      display: flex;
      align-items: center;

      li {
        list-style-type: none;

        a {
          font-family: $font-montserrat;
          text-decoration: none;
          color: var(--text);
          line-height: 16px;
          font-size: 13px;
          letter-spacing: 0;
          font-weight: bold;
        }

        .circle {
          margin-left: 59.5px;
          margin-right: 156px;
          width: 54px;
          height: 54px;
          background: var(--crear_gifo);
        }

        .circle:hover {
          background: var(--crear_gifoHover);
        }

        .circle:active {
          background: var(--crear_gifoActive);
        }
      }

      li:nth-child(3) {
        margin-left: 41.5px;
      }

      li:nth-child(5) {
        margin-left: 50px;
      }
    }
  }
}

/*mobile*/
@media screen and (max-width: 375px) {
  header {
    nav {
      display: flex;
      height: 95px;

      .logo {
        margin-left: 22px;
        height: 49px;
        width: 56px;
        background: var(--logoMobile);
      }

      .listas-nav {
        display: none;
        box-sizing: border-box;
        width: 100%;

        li {
          display: flex;
          align-items: center;

          a {
            color: #fff;
            text-decoration: none;
          }
        }
      }

      .btncontrol:checked ~ .listas-nav {
        position: absolute;
        top: 95px;
        left: 0px;
        display: block;
        width: 100%;
        height: 100%;
        background: var(--accents);
        z-index: 1;

        li {
          display: flex;
          justify-content: center;

          text-transform: lowercase;

          a {
            margin-bottom: 11px;
            font-size: 15px;
            letter-spacing: 0;
            line-height: 30px;
          }

          hr {
            display: flex;
            width: 41px;
            height: 0.1px;
            background-color: white;
            opacity: 0.5;
          }
        }

        li:nth-child(3) {
          margin-top: 13.9px;
          margin-left: 0;
        }

        li:nth-child(5) {
          margin-top: 13.9px;
          margin-left: 0px;
          span {
            text-transform: uppercase;
          }
        }

        li:nth-child(6) {
          display: none;
        }

        li:first-child {
          margin-top: 32px;
          span {
            text-transform: uppercase;
          }
        }

        a::first-letter {
          text-transform: uppercase;
        }
      }

      .btncontrol:checked + .icons .burger {
        display: none;
      }

      .btncontrol:checked + .icons .close {
        display: block;
        margin-right: 26px;
      }

      .icons {
        display: flex;
        margin-right: 16px;

        .burger {
          width: 15px;
          height: 14px;
          margin-right: 26px;
        }

        .close {
          display: none;
        }
      }
    }
  }
}
