.searchedGIFS {
  margin-top: 255px;
  display: none;
  flex-direction: column;
  align-items: center;

  .searchedValue {
    color: $background_accents;
    font-family: $font-montserrat;
    font-size: 35px;
    text-align: center;
    line-height: 30px;
    margin-bottom: 60px;
  }

  .gifResults {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(4, 260px);
    grid-gap: 29px;
    grid-template-rows: repeat(3, 200px);

    .gifSpace {
      .gif-img {
        width: 260px;
        height: 200px;
      }

      .purpleSquare {
        display: none;

        .iconsCard {
          display: none;
        }

        .user {
          display: none;
        }

        .tituloGIF {
          display: none;
        }
      }
    }

    .gifSpace:hover {
      .gif-img {
        position: absolute;
      }
      .purpleSquare {
        position: relative;
        display: inline-block;
        width: 100%;
        height: 100%;
        background: #572ee5;
        opacity: 0.6;

        .iconsCard {
          display: flex;
          justify-content: flex-end;

          .loveButton {
            height: 32px;
            width: 32px;
            opacity: 0.7;
            border-radius: 6px;
            border-radius: 6px;
            margin: 10px 10px 0 10px;
            background: url("/img/icon-fav.svg") no-repeat;
          }

          img {
            height: 32px;
            width: 32px;
            opacity: 0.7;
            background: #ffffff;
            border-radius: 6px;
            border-radius: 6px;
            margin: 10px 10px 0 10px;
          }

          img:hover {
            opacity: 1;
          }

          .loveButton:hover {
            opacity: 1;
          }

          /* missing the .loveButton:active functionality */
        }

        .GIFinfo {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 100%;
          align-items: flex-start;
          justify-content: flex-end;

          .user {
            display: block;
            font-family: $font-roboto;
            font-size: 15px;
            color: $background_primary;
            margin-left: 18px;
          }

          .tituloGIF {
            display: block;
            font-family: $font-roboto;
            font-size: 16px;
            color: $background_primary;
            margin-left: 18.5px;
            margin-bottom: 51px;
          }
        }
      }
    }
  }

  .seeMoreBtn {
    margin-bottom: 95px;
    margin-top: 78px;
    width: 127px;
    height: 50px;
    background: url("/img/CTA-ver-mas.svg") no-repeat;
  }

  .seeMoreBtn:hover {
    background: url("/img/CTA-ver-mas-hover.svg") no-repeat;
  }
}
