.trendingGIFOS {
  background-color: $background_secondary;
  width: 100%;
  height: 640px;
  display: flex;
  flex-direction: column;

  br {
    display: none;
  }

  h2 {
    margin-top: 67px;
    font-family: $font-montserrat;
    font-size: 25px;
    color: $background_accents;
    text-align: center;
    line-height: 30px;
  }

  p {
    margin-top: 12px;
    font-family: $font-roboto;
    font-size: 18px;
    color: $Dark_background_accents;
    text-align: center;
  }

  .gifSection {
    margin-top: 53px;
    width: 100%;
    height: 275px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .leftButton {
      margin-left: 94px;
      margin-right: 22px;
      width: 40px;
      height: 40px;
      background: url("/img/button-slider-left.svg") no-repeat;
    }

    .leftButton:hover {
      background: url("/img/button-slider-left-hover.svg") no-repeat;
    }

    .gifSpace {
      background-color: royalblue;
      width: 300px;
      height: 275px;

      .iconsCard {
        display: none;
      }

      .user {
        display: none;
      }

      .tituloGIF {
        display: none;
      }
    }

    .gifSpace:hover {
      background-color: $background_accents;
      opacity: 0.6;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .iconsCard {
        display: flex;
        justify-content: flex-end;

        .loveButton {
          height: 32px;
          width: 32px;
          opacity: 0.7;
          border-radius: 6px;
          border-radius: 6px;
          margin: 10px 10px 0 10px;
          background: url("/img/icon-fav.svg") no-repeat;
        }

        img {
          height: 32px;
          width: 32px;
          opacity: 0.7;
          background: #ffffff;
          border-radius: 6px;
          border-radius: 6px;
          margin: 10px 10px 0 10px;
        }

        img:hover {
          opacity: 1;
        }

        .loveButton:hover {
          opacity: 1;
        }

        /* missing the .loveButton:active functionality */
      }

      .GIFinfo {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .user {
          display: flex;
          font-family: $font-roboto;
          font-size: 15px;
          color: $background_primary;
          margin-left: 18px;
        }

        .tituloGIF {
          display: flex;
          font-family: $font-roboto;
          font-size: 16px;
          color: $background_primary;
          margin-left: 18.5px;
          margin-bottom: 51px;
        }
      }
    }

    .rightButton {
      margin-left: 25px;
      margin-right: 92px;
      width: 40px;
      height: 40px;
      background: url("/img/Button-Slider-right.svg") no-repeat;
    }

    .rightButton:hover {
      background: url("/img/Button-Slider-right-hover.svg") no-repeat;
    }
  }
}

/*mobile*/
@media screen and (max-width: 375px) {
  .trendingGIFOS {
    height: 430px;

    br {
      display: flex;
    }

    h2 {
      margin-top: 46px;
      font-size: 20px;
      line-height: 30px;
    }

    p {
      margin-top: 7px;
      font-size: 16px;
    }

    .gifSection {
      margin-top: 32px;
      height: 187px;
      display: flex;
      align-items: center;

      .leftButton {
        display: none;
      }

      .gifSpace {
        width: 200px;
        height: 187px;

        .iconsCard {
          display: none;
        }

        .user {
          display: none;
        }

        .tituloGIF {
          display: none;
        }
      }

      .gifSpace:hover {
        .GIFinfo {
          .user {
            margin-left: 13px;
          }

          .tituloGIF {
            margin-left: 12px;
          }
        }
      }

      .gifSpace:first-child {
        margin-left: 22px;
        margin-right: 22px;
      }

      .gifSpace:nth-child(3) {
        display: none;
      }

      .rightButton {
        display: none;
      }
    }
  }
}
