/*colors*/
$background_primary: #ffffff;
$background_secondary: #f3f5f8;
$background_accents: #572ee5;
$Dark_background_primary: #37383c;
$Dark_background_secondary: #222326;
$Dark_background_accents: #000000;
$green_icons: #50e3c2;
/*fonts*/
$font-montserrat: "Montserrat", sans-serif;
$font-roboto: "Roboto", sans-serif;
