/*colors*/
/*fonts*/
/*resets*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*body*/
body {
  background-color: #ffffff;
}

/*nav*/
header .top-accent {
  width: 100%;
  height: 5px;
  background-color: #572ee5;
}

header nav {
  width: 100%;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .logo {
  height: 59.1px;
  width: 59.1px;
  margin-left: 156px;
  background: url("/img/logo-desktop.svg") no-repeat;
}

header nav .btncontrol {
  display: none;
}

header nav .icons {
  display: none;
}

header nav .listas-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .listas-nav li {
  list-style-type: none;
}

header nav .listas-nav li a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: #572ee5;
  line-height: 16px;
  font-size: 13px;
  letter-spacing: 0;
  font-weight: bold;
}

header nav .listas-nav li .circle {
  margin-left: 59.5px;
  margin-right: 156px;
  width: 54px;
  height: 54px;
  background: url("/img/button-crear-gifo.svg") no-repeat;
}

header nav .listas-nav li .circle:hover {
  background: url("/img/CTA-crear-gifo-hover.svg") no-repeat;
}

header nav .listas-nav li .circle:active {
  background: url("/img/CTA-crear-gifo-active.svg") no-repeat;
}

header nav .listas-nav li:nth-child(3) {
  margin-left: 41.5px;
}

header nav .listas-nav li:nth-child(5) {
  margin-left: 50px;
}

/*mobile*/
@media screen and (max-width: 375px) {
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 95px;
  }
  header nav .logo {
    margin-left: 22px;
    height: 49px;
    width: 56px;
    background: url("/img/logo-mobile.svg") no-repeat;
  }
  header nav .listas-nav {
    display: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
  }
  header nav .listas-nav li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header nav .listas-nav li a {
    color: #ffffff;
    text-decoration: none;
  }
  header nav .btncontrol:checked ~ .listas-nav {
    position: absolute;
    top: 95px;
    left: 0px;
    display: block;
    width: 100%;
    height: 100%;
    background: #572ee5;
    z-index: 1;
  }
  header nav .btncontrol:checked ~ .listas-nav li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-transform: lowercase;
  }
  header nav .btncontrol:checked ~ .listas-nav li a {
    margin-bottom: 11px;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 30px;
  }
  header nav .btncontrol:checked ~ .listas-nav li hr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 41px;
    height: 0.1px;
    background-color: white;
    opacity: 0.5;
  }
  header nav .btncontrol:checked ~ .listas-nav li:nth-child(3) {
    margin-top: 13.9px;
    margin-left: 0;
  }
  header nav .btncontrol:checked ~ .listas-nav li:nth-child(5) {
    margin-top: 13.9px;
    margin-left: 0px;
  }
  header nav .btncontrol:checked ~ .listas-nav li:nth-child(5) span {
    text-transform: uppercase;
  }
  header nav .btncontrol:checked ~ .listas-nav li:nth-child(6) {
    display: none;
  }
  header nav .btncontrol:checked ~ .listas-nav li:first-child {
    margin-top: 32px;
  }
  header nav .btncontrol:checked ~ .listas-nav li:first-child span {
    text-transform: uppercase;
  }
  header nav .btncontrol:checked ~ .listas-nav a::first-letter {
    text-transform: uppercase;
  }
  header nav .btncontrol:checked + .icons .burger {
    display: none;
  }
  header nav .btncontrol:checked + .icons .close {
    display: block;
    margin-right: 26px;
  }
  header nav .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 16px;
  }
  header nav .icons .burger {
    width: 15px;
    height: 14px;
    margin-right: 26px;
  }
  header nav .icons .close {
    display: none;
  }
}

/*header search*/
.header-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /*mobile*/
}

.header-search .mobile-title {
  display: none;
}

.header-search .desktop-title {
  margin-top: 76px;
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  color: #572ee5;
  line-height: 50px;
  text-align: center;
}

.header-search .desktop-title span {
  color: #50e3c2;
}

.header-search .headerImg {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 399px;
  height: 190px;
  margin-top: 24px;
}

.header-search .search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.header-search .search-bar input[type="text"] {
  outline: none;
  z-index: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #000000;
  text-align: left;
  padding-left: 54px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 27px;
  width: 551px;
  height: 50px;
  border: solid 1px #572ee5;
  background-color: #ffffff;
}

.header-search .search-bar input::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #9cafc3;
}

.header-search .search-bar input:-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #9cafc3;
}

.header-search .search-bar input::-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #9cafc3;
}

.header-search .search-bar input::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #9cafc3;
}

.header-search .search-bar .searchButton {
  margin-left: 490px;
  position: absolute;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 50px;
  height: 50px;
  border-radius: 27px;
  cursor: pointer;
  background: url("/img/icon-search.svg") no-repeat 50% 50%;
  z-index: 2;
}

.header-search .search-bar .searchButtonLeft {
  margin-right: 490px;
  position: absolute;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 50px;
  height: 50px;
  border-radius: 27px;
  cursor: pointer;
  background: url("/img/icon-search-gris.svg") no-repeat 50% 50%;
  z-index: 2;
}

.header-search .search-bar .XButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 490px;
  position: absolute;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
  width: 50px;
  height: 50px;
  border-radius: 27px;
  cursor: pointer;
  background: url("/img/close.svg") no-repeat 50% 50%;
  z-index: 2;
}

.header-search .search-bar .hideborder {
  border: none !important;
}

.header-search .search-bar .hideX {
  display: none;
  position: fixed;
}

.header-search .search-bar .dispnone {
  display: none !important;
}

.header-search .search-bar .autocomSearch {
  border: solid 1px #572ee5;
  border-radius: 27px;
  position: absolute;
  z-index: 0;
  width: 555px;
  height: 200px;
  background-color: #ffffff;
  margin-top: -1px;
  padding-top: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-search .search-bar .autocomSearch i {
  margin-left: 23.6px;
  margin-right: 14.6px;
  opacity: 0.5;
}

.header-search .search-bar .autocomSearch hr {
  display: none;
  background-color: #9cafc3;
  opacity: 0.5;
  height: 3px;
  width: 505px;
  z-index: 3;
}

.header-search .search-bar .autocomSearch hr:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.header-search .search-bar .autocomSearch a {
  list-style: none;
  text-decoration: none;
}

.header-search .search-bar .autocomSearch a li {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #9cafc3;
}

@media screen and (max-width: 375px) {
  .header-search .search-bar input {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    border-radius: 27px;
    border-radius: 27px;
    width: 334px;
    height: 50px;
    border: solid 1px #572ee5;
    background: #ffffff;
  }
  .header-search .search-bar input::-webkit-input-placeholder {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #9cafc3;
  }
  .header-search .search-bar input:-ms-input-placeholder {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #9cafc3;
  }
  .header-search .search-bar input::-ms-input-placeholder {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #9cafc3;
  }
  .header-search .search-bar input::placeholder {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #9cafc3;
  }
  .header-search .search-bar .searchButton {
    margin-left: 320px;
  }
}

/*mobile*/
@media screen and (max-width: 375px) {
  .header-search .mobile-title {
    display: block;
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    color: #572ee5;
    text-align: center;
    line-height: 33px;
    margin-top: 7px;
  }
  .header-search .mobile-title span {
    color: #50e3c2;
  }
  .header-search .desktop-title {
    display: none;
  }
  .header-search .headerImg {
    width: 273px;
    height: 130px;
    margin-top: 31px;
  }
}

/*trending*/
.trending {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 73px;
  margin-bottom: 95px;
}

.trending br {
  display: none;
}

.trending h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #572ee5;
  text-align: center;
  line-height: 25px;
}

.trending ul {
  list-style-type: none;
  text-align: center;
}

.trending ul li {
  display: inline;
  margin-top: 7px;
}

.trending ul li a {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #572ee5;
  text-align: center;
  line-height: 25px;
}

.trending ul li a:hover {
  font-size: 18px;
  color: blue;
}

/*mobile*/
@media screen and (max-width: 375px) {
  .trending {
    margin-top: 31px;
    margin-bottom: 45px;
  }
  .trending br {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .trending h3 {
    font-size: 16px;
    line-height: 25px;
  }
  .trending ul li {
    margin-top: 2px;
  }
  .trending ul li a {
    font-size: 14px;
  }
}

/*searched gifs*/
.searchedGIFS {
  margin-top: 255px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.searchedGIFS .searchedValue {
  color: #572ee5;
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  text-align: center;
  line-height: 30px;
  margin-bottom: 60px;
}

.searchedGIFS .gifResults {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  -ms-grid-columns: (260px)[4];
      grid-template-columns: repeat(4, 260px);
  grid-gap: 29px;
  -ms-grid-rows: (200px)[3];
      grid-template-rows: repeat(3, 200px);
}

.searchedGIFS .gifResults .gifSpace .gif-img {
  width: 260px;
  height: 200px;
}

.searchedGIFS .gifResults .gifSpace .purpleSquare {
  display: none;
}

.searchedGIFS .gifResults .gifSpace .purpleSquare .iconsCard {
  display: none;
}

.searchedGIFS .gifResults .gifSpace .purpleSquare .user {
  display: none;
}

.searchedGIFS .gifResults .gifSpace .purpleSquare .tituloGIF {
  display: none;
}

.searchedGIFS .gifResults .gifSpace:hover .gif-img {
  position: absolute;
}

.searchedGIFS .gifResults .gifSpace:hover .purpleSquare {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  background: #572ee5;
  opacity: 0.6;
}

.searchedGIFS .gifResults .gifSpace:hover .purpleSquare .iconsCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  /* missing the .loveButton:active functionality */
}

.searchedGIFS .gifResults .gifSpace:hover .purpleSquare .iconsCard .loveButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 32px;
  width: 32px;
  opacity: 0.7;
  border-radius: 6px;
  border-radius: 6px;
  margin: 10px 10px 0 10px;
  background: url("/img/icon-fav.svg") no-repeat;
}

.searchedGIFS .gifResults .gifSpace:hover .purpleSquare .iconsCard .loveButton .icon-icon-fav-active {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 8px;
}

.searchedGIFS .gifResults .gifSpace:hover .purpleSquare .iconsCard img {
  height: 32px;
  width: 32px;
  opacity: 0.7;
  background: #ffffff;
  border-radius: 6px;
  border-radius: 6px;
  margin: 10px 10px 0 10px;
}

.searchedGIFS .gifResults .gifSpace:hover .purpleSquare .iconsCard img:hover {
  opacity: 1;
}

.searchedGIFS .gifResults .gifSpace:hover .purpleSquare .iconsCard .loveButton:hover {
  opacity: 1;
}

.searchedGIFS .gifResults .gifSpace:hover .purpleSquare .GIFinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.searchedGIFS .gifResults .gifSpace:hover .purpleSquare .GIFinfo .user {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #ffffff;
  margin-left: 18px;
}

.searchedGIFS .gifResults .gifSpace:hover .purpleSquare .GIFinfo .tituloGIF {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #ffffff;
  margin-left: 18.5px;
  margin-bottom: 51px;
}

.searchedGIFS .seeMoreBtn {
  margin-bottom: 95px;
  margin-top: 78px;
  width: 127px;
  height: 50px;
  background: url("/img/CTA-ver-mas.svg") no-repeat;
}

.searchedGIFS .seeMoreBtn:hover {
  background: url("/img/CTA-ver-mas-hover.svg") no-repeat;
}

/*Trending GIFOS*/
.trendingGIFOS {
  background-color: #f3f5f8;
  width: 100%;
  height: 640px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.trendingGIFOS br {
  display: none;
}

.trendingGIFOS h2 {
  margin-top: 67px;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  color: #572ee5;
  text-align: center;
  line-height: 30px;
}

.trendingGIFOS p {
  margin-top: 12px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #000000;
  text-align: center;
}

.trendingGIFOS .gifSection {
  margin-top: 53px;
  width: 100%;
  height: 275px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.trendingGIFOS .gifSection .leftButton {
  margin-left: 94px;
  margin-right: 22px;
  width: 40px;
  height: 40px;
  background: url("/img/button-slider-left.svg") no-repeat;
}

.trendingGIFOS .gifSection .leftButton:hover {
  background: url("/img/button-slider-left-hover.svg") no-repeat;
}

.trendingGIFOS .gifSection .gifSpace img {
  width: 300px;
  height: 275px;
}

.trendingGIFOS .gifSection .gifSpace .purpleSquare {
  display: none;
}

.trendingGIFOS .gifSection .gifSpace .purpleSquare .iconsCard {
  display: none;
}

.trendingGIFOS .gifSection .gifSpace .purpleSquare .user {
  display: none;
}

.trendingGIFOS .gifSection .gifSpace .purpleSquare .tituloGIF {
  display: none;
}

.trendingGIFOS .gifSection .gifSpace:hover {
  position: relative;
}

.trendingGIFOS .gifSection .gifSpace:hover .purpleSquare {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  background: #572ee5;
  opacity: 0.6;
}

.trendingGIFOS .gifSection .gifSpace:hover .purpleSquare .iconsCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  /* missing the .loveButton:active functionality */
}

.trendingGIFOS .gifSection .gifSpace:hover .purpleSquare .iconsCard .loveButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 32px;
  width: 32px;
  opacity: 0.7;
  border-radius: 6px;
  border-radius: 6px;
  margin: 10px 10px 0 10px;
  background: url("/img/icon-fav.svg") no-repeat;
}

.trendingGIFOS .gifSection .gifSpace:hover .purpleSquare .iconsCard .loveButton .icon-icon-fav-active {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 8px;
}

.trendingGIFOS .gifSection .gifSpace:hover .purpleSquare .iconsCard img {
  height: 32px;
  width: 32px;
  opacity: 0.7;
  background: #ffffff;
  border-radius: 6px;
  border-radius: 6px;
  margin: 10px 10px 0 10px;
}

.trendingGIFOS .gifSection .gifSpace:hover .purpleSquare .iconsCard img:hover {
  opacity: 1;
}

.trendingGIFOS .gifSection .gifSpace:hover .purpleSquare .iconsCard .loveButton:hover {
  opacity: 1;
}

.trendingGIFOS .gifSection .gifSpace:hover .purpleSquare .GIFinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.trendingGIFOS .gifSection .gifSpace:hover .purpleSquare .GIFinfo .user {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #ffffff;
  margin-left: 18px;
}

.trendingGIFOS .gifSection .gifSpace:hover .purpleSquare .GIFinfo .tituloGIF {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #ffffff;
  margin-left: 18.5px;
  margin-bottom: 51px;
}

.trendingGIFOS .gifSection .rightButton {
  margin-left: 25px;
  margin-right: 92px;
  width: 40px;
  height: 40px;
  background: url("/img/Button-Slider-right.svg") no-repeat;
}

.trendingGIFOS .gifSection .rightButton:hover {
  background: url("/img/Button-Slider-right-hover.svg") no-repeat;
}

/*mobile*/
@media screen and (max-width: 375px) {
  .trendingGIFOS {
    height: 430px;
  }
  .trendingGIFOS br {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .trendingGIFOS h2 {
    margin-top: 46px;
    font-size: 20px;
    line-height: 30px;
  }
  .trendingGIFOS p {
    margin-top: 7px;
    font-size: 16px;
  }
  .trendingGIFOS .gifSection {
    margin-top: 32px;
    height: 187px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .trendingGIFOS .gifSection .leftButton {
    display: none;
  }
  .trendingGIFOS .gifSection .gifSpace img {
    width: 243px;
    height: 187px;
  }
  .trendingGIFOS .gifSection .gifSpace:first-child {
    margin-left: 22px;
    margin-right: 22px;
  }
  .trendingGIFOS .gifSection .gifSpace:nth-child(3) {
    display: none;
  }
  .trendingGIFOS .gifSection .rightButton {
    display: none;
  }
}

/*footer*/
footer {
  width: 100%;
  height: 116px;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer p {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  color: #000000;
  letter-spacing: 0;
}

footer p:first-child {
  margin-left: 156px;
}

footer p:last-child {
  margin-right: 158px;
}

footer .footerCompartir {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footerCompartir br {
  display: none;
}

footer .footerCompartir .iconsFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .footerCompartir .iconsFooter .iconFacebook {
  height: 20.2px;
  width: 20px;
  margin-right: 19px;
  margin-left: 17px;
  background: url("/img/icon_facebook.svg") no-repeat;
}

footer .footerCompartir .iconsFooter .iconFacebook:hover {
  background: url("/img/icon_facebook_hover.svg") no-repeat;
}

footer .footerCompartir .iconsFooter .iconTwitter {
  height: 20.2px;
  width: 20px;
  margin-right: 19px;
  background: url("/img/icon-twitter.svg") no-repeat;
}

footer .footerCompartir .iconsFooter .iconTwitter:hover {
  background: url("/img/icon-twitter-hover.svg") no-repeat;
}

footer .footerCompartir .iconsFooter .iconInstagram {
  height: 20.2px;
  width: 20px;
  margin-right: 19px;
  background: url("/img/icon_instagram.svg") no-repeat;
}

footer .footerCompartir .iconsFooter .iconInstagram:hover {
  background: url("/img/icon_instagram-hover.svg") no-repeat;
}

.bottom-accent {
  width: 100%;
  height: 5px;
  background-color: #572ee5;
}

/*mobile*/
@media screen and (max-width: 375px) {
  footer {
    height: 196px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer p:last-child {
    margin-right: 0;
    margin-bottom: 23px;
  }
  footer .footerCompartir {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0;
    margin-bottom: 0;
  }
  footer .footerCompartir br {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .footerCompartir p {
    font-size: 15px;
  }
  footer .footerCompartir p:first-child {
    margin-top: 47px;
    margin-left: 0;
    margin-bottom: 24px;
  }
}

/*maximized gif*/
/*colors*/
/*fonts*/
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
}

.maximizeGif::after {
  content: "";
  background-color: white;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.maximizeGif {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  z-index: 2;
}

.maximizeGif header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 250px;
}

.maximizeGif header .closeButton {
  margin-top: 66.4px;
  margin-right: 240px;
  height: 15.2px;
  width: 15.2px;
  margin-bottom: 200px;
}

.maximizeGif .maxGifSpace {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  height: 385px;
}

.maximizeGif .maxGifSpace .maxImg {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 695px;
  height: 385px;
}

.maximizeGif .maxGifSpace .GIFinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 153px;
}

.maximizeGif .maxGifSpace .GIFinfo .gifText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 27px;
  margin-left: 330px;
}

.maximizeGif .maxGifSpace .GIFinfo .gifText .user {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  margin-bottom: 6px;
  color: #000000;
}

.maximizeGif .maxGifSpace .GIFinfo .gifText .GIFtitle {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #000000;
  margin-bottom: 200px;
}

.maximizeGif .maxGifSpace .GIFinfo .GIFicons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 320px;
}

.maximizeGif .maxGifSpace .GIFinfo .GIFicons img {
  height: 36px;
  width: 36px;
  background: #ffffff;
  border-radius: 6px;
  border-radius: 6px;
  opacity: 0.5;
  border: 1px solid #9cafc3;
  margin: 10px 10px 0 10px;
}

.maximizeGif .maxGifSpace .GIFinfo .GIFicons img:hover {
  opacity: 1;
}
/*# sourceMappingURL=styles.css.map */