@import "./variables";

/*resets*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*body*/
body {
  background-color: $background_primary;
}

/*nav*/
@import "./nav";

/*header search*/
@import "./header";

/*trending*/
@import "./trending";

/*searched gifs*/
@import "./searchedGifs";

/*Trending GIFOS*/
@import "./trendingGIFOS";

/*footer*/
@import "./footer";

/*maximized gif*/
@import "./maxGif";
