@import "./variables";

/*resets*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*body*/
body {
  background-color: $background_primary;
}

@import "./nav";
@import "./favoritos";
@import "./searchedGifsFavs";
@import "./trendingGIFOS";
@import "./footer";
