//variables

@import url("./_variables.scss");

/*resets*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --background_primary: #ffffff;
  --background_secondary: #f3f5f8;
  --background_accents: #572ee5;
  --green_icons: #50e3c2;
  --text: #572ee5;
  --trendingText: #000000;

  --background: var(--background_primary);
  --backgroundSec: var(--background_secondary);
  --accents: var(--background_accents);
  --trendingP: var(--trendingText);

  --logo_light: #{url("../img/logo-desktop.svg")} no-repeat;
  --crearGifo_light: #{url("../img/button-crear-gifo.svg")} no-repeat;
  --crearGifoHover_light: #{url("../img/CTA-crear-gifo-hover.svg")} no-repeat;
  --crearGifoActive_light: #{url("../img/CTA-crear-gifo-active.svg")} no-repeat;
  --logoMobile_light: #{url("../img/logo-mobile.svg")} no-repeat;
  --search_light: #{url("../img/icon-search.svg")};
  --close_light: #{url("../img/close.svg")};
  --verMas_light: #{url("../img/CTA-ver-mas.svg")};
  --verMasHover_light: #{url("../img/CTA-ver-mas-hover.svg")};
  --sliderLeft_light: #{url("../img/button-slider-left.svg")};
  --sliderLeftHover_light: #{url("../img/button-slider-left-hover.svg")};
  --sliderRight_light: #{url("../img/Button-Slider-right.svg")};

  --logo: var(--logo_light);
  --logoMobile: var(--logoMobile_light);
  --crear_gifo: var(--crearGifo_light);
  --crear_gifoHover: var(--crearGifoHover_light);
  --crear_gifoActive: var(--crearGifoActive_light);
  --search: var(--search_light);
  --close: var(--close_light);
  --verMas: var(--verMas_light);
  --verMasHover: var(--verMasHover_light);
  --sliderLeft: var(--sliderLeft_light);
  --sliderLeftHover: var(--sliderLeftHover_light);
  --sliderRight: var(--sliderRight_light);
}

.darkmode {
  //darkmode variables
  --Dark_background_primary: #37383c;
  --Dark_background_secondary: #222326;
  --Dark_background_accents: #000000;
  --green_icons: #50e3c2;
  --text: #ffffff;
  --trendingText: #ffffff;

  --background: var(--Dark_background_primary);
  --backgroundSec: var(--Dark_background_secondary);
  --accents: var(--Dark_background_accents);
  --trendingP: var(--trendingText);

  --logo_dark: #{url("../img/Logo-modo-noc.svg")} no-repeat;
  --logoMobile_dark: #{url("../img/Logo-modo-noc.svg")} no-repeat;
  --crearGifo_dark: #{url("../img/CTA-crear-gifo-modo-noc.svg")} no-repeat;
  --crearGifoHover_dark: #{url("../img/CTA-crear-gifo-hover-modo-noc.svg")} no-repeat;
  --crearGifoActive_dark: #{url("../img/CTA-crear-gifo-active-modo-noc.svg")} no-repeat;
  --search_dark: #{url("../img/icon-search-modo-noct.svg")};
  --close_dark: #{url("../img/close-modo-noct.svg")};
  --verMas_dark: #{url("../img/CTA-ver+-modo-noc.svg")};
  --verMasHover_dark: #{url("../img/CTA-ver+hover-modo-noc.svg")};
  --sliderLeft_dark: #{url("../img/button-slider-left-md-noct.svg")};
  --sliderLeftHover_dark: #{url("../img/button-slider-left-hover.svg")};
  --sliderRight_dark: #{url("../img/button-slider-right-md-noct.svg")};

  --logo: var(--logo_dark);
  --logoMobile: var(--logoMobile_dark);
  --crear_gifo: var(--crearGifo_dark);
  --crear_gifoHover: var(--crearGifoHover_dark);
  --crear_gifoActive: var(--crearGifoActive_dark);
  --search: var(--search_dark);
  --close: var(--close_dark);
  --verMas: var(--verMas_dark);
  --verMasHover: var(--verMasHover_dark);
  --sliderLeft: var(--sliderLeft_dark);
  --sliderLeftHover: var(--sliderLeftHover_dark);
  --sliderRight: var(--sliderRight_dark);
}

/*body*/
body {
  background-color: var(--background);
}

/*nav*/
@import url("./_nav.scss");

/*header search*/
@import url("./_header.scss");

/*trending*/
@import url("./_trending.scss");

/*searched gifs*/
@import url("./_searchedGifs.scss");

/*Trending GIFOS*/
@import url("./_trendingGIFOS.scss");

/*footer*/
@import url("./_footer.scss");

/*maximized gif*/
@import url("./_maxGif.scss");
