/*colors*/
/*dark them colors*/
/*fonts*/
/*resets*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*body*/
body {
  background-color: #ffffff;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .closeButton {
  margin-top: 66.4px;
  margin-right: 278.4px;
  height: 15.2px;
  width: 15.2px;
  margin-bottom: 78.4px;
}

.gifSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 385px;
}

.gifSection .leftButton {
  margin-left: 290px;
  margin-right: 25px;
  width: 40px;
  height: 40px;
  background: url("/img/button-slider-left.svg") no-repeat;
}

.gifSection .leftButton:hover {
  background: url("/img/button-slider-left-hover.svg") no-repeat;
}

.gifSection .gifSpace {
  height: 385px;
  width: 600px;
  background-color: blue;
}

.gifSection .rightButton {
  margin-left: 25px;
  margin-right: 325px;
  width: 40px;
  height: 40px;
  background: url("/img/Button-Slider-right.svg") no-repeat;
}

.gifSection .rightButton:hover {
  background: url("/img/Button-Slider-right-hover.svg") no-repeat;
}

.GIFinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 153px;
}

.GIFinfo .gifText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 27px;
  margin-left: 355px;
}

.GIFinfo .gifText .user {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  margin-bottom: 6px;
  color: #000000;
}

.GIFinfo .gifText .GIFtitle {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #000000;
}

.GIFinfo .GIFicons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 394px;
}

.GIFinfo .GIFicons img {
  height: 36px;
  width: 36px;
  background: #ffffff;
  border-radius: 6px;
  border-radius: 6px;
  opacity: 0.5;
  border: 1px solid #9cafc3;
  margin: 10px 10px 0 10px;
}

.GIFinfo .GIFicons img:hover {
  opacity: 1;
}

/*mobile*/
@media screen and (max-width: 375px) {
  header .closeButton {
    margin-top: 64px;
    margin-right: 39.3px;
    height: 13.8px;
    width: 13.6px;
    margin-bottom: 78px;
  }
  .gifSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 245px;
  }
  .gifSection .leftButton {
    display: none;
  }
  .gifSection .gifSpace {
    height: 245px;
    width: 318px;
    background-color: blue;
  }
  .gifSection .rightButton {
    display: none;
  }
  .GIFinfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 126px;
  }
  .GIFinfo .gifText {
    margin-top: 14px;
    margin-left: 35px;
  }
  .GIFinfo .GIFicons {
    margin-right: 29px;
  }
}
/*# sourceMappingURL=styles_gifMax.css.map */