/*colors*/
/*dark them colors*/
/*fonts*/
/*resets*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --background_primary: #ffffff;
  --background_secondary: #f3f5f8;
  --background_accents: #572ee5;
  --green_icons: #50e3c2;
  --text: #572ee5;
  --trendingText: #000000;
  --background: var(--background_primary);
  --backgroundSec: var(--background_secondary);
  --accents: var(--background_accents);
  --trendingP: var(--trendingText);
  --logo_light: url("../img/logo-desktop.svg") no-repeat;
  --crearGifo_light: url("../img/button-crear-gifo.svg") no-repeat;
  --crearGifoHover_light: url("../img/CTA-crear-gifo-hover.svg") no-repeat;
  --crearGifoActive_light: url("../img/CTA-crear-gifo-active.svg") no-repeat;
  --logoMobile_light: url("../img/logo-mobile.svg") no-repeat;
  --search_light: url("../img/icon-search.svg");
  --close_light: url("../img/close.svg");
  --verMas_light: url("../img/CTA-ver-mas.svg");
  --verMasHover_light: url("../img/CTA-ver-mas-hover.svg");
  --sliderLeft_light: url("../img/button-slider-left.svg");
  --sliderLeftHover_light: url("../img/button-slider-left-hover.svg");
  --sliderRight_light: url("../img/Button-Slider-right.svg");
  --logo: var(--logo_light);
  --logoMobile: var(--logoMobile_light);
  --crear_gifo: var(--crearGifo_light);
  --crear_gifoHover: var(--crearGifoHover_light);
  --crear_gifoActive: var(--crearGifoActive_light);
  --search: var(--search_light);
  --close: var(--close_light);
  --verMas: var(--verMas_light);
  --verMasHover: var(--verMasHover_light);
  --sliderLeft: var(--sliderLeft_light);
  --sliderLeftHover: var(--sliderLeftHover_light);
  --sliderRight: var(--sliderRight_light);
}

.darkmode {
  --Dark_background_primary: #37383c;
  --Dark_background_secondary: #222326;
  --Dark_background_accents: #000000;
  --green_icons: #50e3c2;
  --text: #ffffff;
  --trendingText: #ffffff;
  --background: var(--Dark_background_primary);
  --backgroundSec: var(--Dark_background_secondary);
  --accents: var(--Dark_background_accents);
  --trendingP: var(--trendingText);
  --logo_dark: url("../img/Logo-modo-noc.svg") no-repeat;
  --logoMobile_dark: url("../img/Logo-modo-noc.svg") no-repeat;
  --crearGifo_dark: url("../img/CTA-crear-gifo-modo-noc.svg") no-repeat;
  --crearGifoHover_dark: url("../img/CTA-crear-gifo-hover-modo-noc.svg")
    no-repeat;
  --crearGifoActive_dark: url("../img/CTA-crear-gifo-active-modo-noc.svg")
    no-repeat;
  --search_dark: url("../img/icon-search-modo-noct.svg");
  --close_dark: url("../img/close-modo-noct.svg");
  --verMas_dark: url("../img/CTA-ver+-modo-noc.svg");
  --verMasHover_dark: url("../img/CTA-ver+hover-modo-noc.svg");
  --sliderLeft_dark: url("../img/button-slider-left-md-noct.svg");
  --sliderLeftHover_dark: url("../img/button-slider-left-hover.svg");
  --sliderRight_dark: url("../img/button-slider-right-md-noct.svg");
  --logo: var(--logo_dark);
  --logoMobile: var(--logoMobile_dark);
  --crear_gifo: var(--crearGifo_dark);
  --crear_gifoHover: var(--crearGifoHover_dark);
  --crear_gifoActive: var(--crearGifoActive_dark);
  --search: var(--search_dark);
  --close: var(--close_dark);
  --verMas: var(--verMas_dark);
  --verMasHover: var(--verMasHover_dark);
  --sliderLeft: var(--sliderLeft_dark);
  --sliderLeftHover: var(--sliderLeftHover_dark);
  --sliderRight: var(--sliderRight_dark);
}

/*body*/
body {
  background-color: var(--background);
}

header .top-accent {
  width: 100%;
  height: 5px;
  background-color: var(--accents);
}

header nav {
  width: 100%;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .logo {
  height: 59.1px;
  width: 59.1px;
  margin-left: 156px;
  background: var(--logo);
}

header nav .btncontrol {
  display: none;
}

header nav .icons {
  display: none;
}

header nav .listas-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .listas-nav li {
  list-style-type: none;
}

header nav .listas-nav li a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: var(--text);
  line-height: 16px;
  font-size: 13px;
  letter-spacing: 0;
  font-weight: bold;
}

header nav .listas-nav li .circle {
  margin-left: 59.5px;
  margin-right: 156px;
  width: 54px;
  height: 54px;
  background: var(--crear_gifo);
}

header nav .listas-nav li .circle:hover {
  background: var(--crear_gifoHover);
}

header nav .listas-nav li .circle:active {
  background: var(--crear_gifoActive);
}

header nav .listas-nav li:nth-child(3) {
  margin-left: 41.5px;
}

header nav .listas-nav li:nth-child(5) {
  margin-left: 50px;
}

/*mobile*/
@media screen and (max-width: 375px) {
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 95px;
  }
  header nav .logo {
    margin-left: 22px;
    height: 49px;
    width: 56px;
    background: var(--logoMobile);
  }
  header nav .listas-nav {
    display: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
  }
  header nav .listas-nav li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header nav .listas-nav li a {
    color: #fff;
    text-decoration: none;
  }
  header nav .btncontrol:checked ~ .listas-nav {
    position: absolute;
    top: 95px;
    left: 0px;
    display: block;
    width: 100%;
    height: 100%;
    background: var(--accents);
    z-index: 1;
  }
  header nav .btncontrol:checked ~ .listas-nav li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-transform: lowercase;
  }
  header nav .btncontrol:checked ~ .listas-nav li a {
    margin-bottom: 11px;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 30px;
  }
  header nav .btncontrol:checked ~ .listas-nav li hr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 41px;
    height: 0.1px;
    background-color: white;
    opacity: 0.5;
  }
  header nav .btncontrol:checked ~ .listas-nav li:nth-child(3) {
    margin-top: 13.9px;
    margin-left: 0;
  }
  header nav .btncontrol:checked ~ .listas-nav li:nth-child(5) {
    margin-top: 13.9px;
    margin-left: 0px;
  }
  header nav .btncontrol:checked ~ .listas-nav li:nth-child(5) span {
    text-transform: uppercase;
  }
  header nav .btncontrol:checked ~ .listas-nav li:nth-child(6) {
    display: none;
  }
  header nav .btncontrol:checked ~ .listas-nav li:first-child {
    margin-top: 32px;
  }
  header nav .btncontrol:checked ~ .listas-nav li:first-child span {
    text-transform: uppercase;
  }
  header nav .btncontrol:checked ~ .listas-nav a::first-letter {
    text-transform: uppercase;
  }
  header nav .btncontrol:checked + .icons .burger {
    display: none;
  }
  header nav .btncontrol:checked + .icons .close {
    display: block;
    margin-right: 26px;
  }
  header nav .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 16px;
  }
  header nav .icons .burger {
    width: 15px;
    height: 14px;
    margin-right: 26px;
  }
  header nav .icons .close {
    display: none;
  }
}

.favoritos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.favoritos .favLogo {
  margin-top: 11px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 28px;
  height: 21px;
}

.favoritos h2 {
  margin-top: 8px;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  color: var(--text);
  text-align: center;
  line-height: 30px;
  margin-bottom: 36px;
}

.favoritos .btnVerMas {
  margin-bottom: 95px;
  margin-top: 78px;
  width: 127px;
  height: 50px;
  background: var(--verMas) no-repeat;
}

.favoritos .btnVerMas:hover {
  background: var(--verMasHover) no-repeat;
}

.favoritos .noContent {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.favoritos .noContent .imgNoContent {
  margin-top: 109.3px;
  margin-bottom: 23.7px;
  width: 150px;
  height: 151px;
}

.favoritos .noContent p {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  color: #50e3c2;
  text-align: center;
  line-height: 33px;
  margin-bottom: 137px;
}

/*mobile*/
@media screen and (max-width: 375px) {
  .favoritos .favLogo {
    margin-top: 5px;
  }
  .favoritos h2 {
    margin-top: 7px;
    line-height: 29px;
    margin-bottom: 46px;
  }
}

.gifGrid {
  margin-top: 36;
  margin-bottom: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gifGrid .gifResults {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  -ms-grid-columns: (260px)[4];
      grid-template-columns: repeat(4, 260px);
  grid-gap: 29px;
  -ms-grid-rows: (200px)[3];
      grid-template-rows: repeat(3, 200px);
}

.gifGrid .gifResults .gifSpace .gif-img {
  width: 260px;
  height: 200px;
}

.gifGrid .gifResults .gifSpace .purpleSquare {
  display: none;
}

.gifGrid .gifResults .gifSpace .purpleSquare .iconsCard {
  display: none;
}

.gifGrid .gifResults .gifSpace .purpleSquare .user {
  display: none;
}

.gifGrid .gifResults .gifSpace .purpleSquare .tituloGIF {
  display: none;
}

.gifGrid .gifResults .gifSpace:hover .gif-img {
  position: absolute;
}

.gifGrid .gifResults .gifSpace:hover .purpleSquare {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  background: #572ee5;
  opacity: 0.6;
}

.gifGrid .gifResults .gifSpace:hover .purpleSquare .iconsCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  /* missing the .loveButton:active functionality */
}

.gifGrid .gifResults .gifSpace:hover .purpleSquare .iconsCard .loveButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 32px;
  width: 32px;
  opacity: 0.7;
  border-radius: 6px;
  border-radius: 6px;
  margin: 10px 10px 0 10px;
  background: url("../img/icon-fav.svg") no-repeat;
}

.gifGrid .gifResults .gifSpace:hover .purpleSquare .iconsCard .loveButton .icon-icon-fav-active {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 8px;
}

.gifGrid .gifResults .gifSpace:hover .purpleSquare .iconsCard img {
  height: 32px;
  width: 32px;
  opacity: 0.7;
  background: #ffffff;
  border-radius: 6px;
  border-radius: 6px;
  margin: 10px 10px 0 10px;
}

.gifGrid .gifResults .gifSpace:hover .purpleSquare .iconsCard img:hover {
  opacity: 1;
}

.gifGrid .gifResults .gifSpace:hover .purpleSquare .iconsCard .loveButton:hover {
  opacity: 1;
}

.gifGrid .gifResults .gifSpace:hover .purpleSquare .GIFinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.gifGrid .gifResults .gifSpace:hover .purpleSquare .GIFinfo .user {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #ffffff;
  margin-left: 18px;
}

.gifGrid .gifResults .gifSpace:hover .purpleSquare .GIFinfo .tituloGIF {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #ffffff;
  margin-left: 18.5px;
  margin-bottom: 51px;
}

.trendingGIFOS {
  background-color: var(--backgroundSec);
  width: 100%;
  height: 640px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.trendingGIFOS br {
  display: none;
}

.trendingGIFOS h2 {
  margin-top: 67px;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  color: var(--text);
  text-align: center;
  line-height: 30px;
}

.trendingGIFOS p {
  margin-top: 12px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: var(--trendingP);
  text-align: center;
}

.trendingGIFOS .gifSection {
  margin-top: 53px;
  width: 100%;
  height: 275px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: red;
}

.trendingGIFOS .gifSection .leftButton {
  margin-left: 94px;
  margin-right: 22px;
  width: 40px;
  height: 40px;
  background: var(--sliderLeft) no-repeat;
}

.trendingGIFOS .gifSection .leftButton:hover {
  background: url("../img/button-slider-left-hover.svg") no-repeat;
}

.trendingGIFOS .gifSection .trendings .gifSpace .gif-img {
  width: 260px;
  height: 200px;
}

.trendingGIFOS .gifSection .trendings .gifSpace .purpleSquare {
  display: none;
}

.trendingGIFOS .gifSection .trendings .gifSpace .purpleSquare .iconsCard {
  display: none;
}

.trendingGIFOS .gifSection .trendings .gifSpace .purpleSquare .user {
  display: none;
}

.trendingGIFOS .gifSection .trendings .gifSpace .purpleSquare .tituloGIF {
  display: none;
}

.trendingGIFOS .gifSection .trendings .gifSpace:hover .gif-img {
  position: absolute;
}

.trendingGIFOS .gifSection .trendings .gifSpace:hover .purpleSquare {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  background: #572ee5;
  opacity: 0.6;
}

.trendingGIFOS .gifSection .trendings .gifSpace:hover .purpleSquare .iconsCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  /* missing the .loveButton:active functionality */
}

.trendingGIFOS .gifSection .trendings .gifSpace:hover .purpleSquare .iconsCard .trashButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 32px;
  width: 32px;
  opacity: 0.7;
  border-radius: 6px;
  border-radius: 6px;
  margin: 10px 10px 0 10px;
  background: url("../img/icon-trash-normal.svg") no-repeat;
}

.trendingGIFOS .gifSection .trendings .gifSpace:hover .purpleSquare .iconsCard .trashButton .icon-icon-fav-active {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 8px;
}

.trendingGIFOS .gifSection .trendings .gifSpace:hover .purpleSquare .iconsCard img {
  height: 32px;
  width: 32px;
  opacity: 0.7;
  background: #ffffff;
  border-radius: 6px;
  border-radius: 6px;
  margin: 10px 10px 0 10px;
}

.trendingGIFOS .gifSection .trendings .gifSpace:hover .purpleSquare .iconsCard img:hover {
  opacity: 1;
}

.trendingGIFOS .gifSection .trendings .gifSpace:hover .purpleSquare .iconsCard .trashButton:hover {
  opacity: 1;
}

.trendingGIFOS .gifSection .trendings .gifSpace:hover .purpleSquare .GIFinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.trendingGIFOS .gifSection .trendings .gifSpace:hover .purpleSquare .GIFinfo .user {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #ffffff;
  margin-left: 18px;
}

.trendingGIFOS .gifSection .trendings .gifSpace:hover .purpleSquare .GIFinfo .tituloGIF {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #ffffff;
  margin-left: 18.5px;
  margin-bottom: 51px;
}

.trendingGIFOS .gifSection .rightButton {
  margin-left: 25px;
  margin-right: 92px;
  width: 40px;
  height: 40px;
  background: var(--sliderRight) no-repeat;
}

.trendingGIFOS .gifSection .rightButton:hover {
  background: url("../img/Button-Slider-right-hover.svg") no-repeat;
}

/*mobile*/
@media screen and (max-width: 375px) {
  .trendingGIFOS {
    height: 430px;
  }
  .trendingGIFOS br {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .trendingGIFOS h2 {
    margin-top: 46px;
    font-size: 20px;
    line-height: 30px;
  }
  .trendingGIFOS p {
    margin-top: 7px;
    font-size: 16px;
  }
  .trendingGIFOS .gifSection {
    margin-top: 32px;
    height: 187px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .trendingGIFOS .gifSection .leftButton {
    display: none;
  }
  .trendingGIFOS .gifSection .gifSpace img {
    width: 243px;
    height: 187px;
  }
  .trendingGIFOS .gifSection .gifSpace:first-child {
    margin-left: 22px;
    margin-right: 22px;
  }
  .trendingGIFOS .gifSection .gifSpace:nth-child(3) {
    display: none;
  }
  .trendingGIFOS .gifSection .rightButton {
    display: none;
  }
}

footer {
  width: 100%;
  height: 116px;
  background: var(--background);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer p {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  color: var(--trendingP);
  letter-spacing: 0;
}

footer p:first-child {
  margin-left: 156px;
}

footer p:last-child {
  margin-right: 158px;
}

footer .footerCompartir {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footerCompartir br {
  display: none;
}

footer .footerCompartir .iconsFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .footerCompartir .iconsFooter .iconFacebook {
  height: 20.2px;
  width: 20px;
  margin-right: 19px;
  margin-left: 17px;
  background: url("../img/icon_facebook.svg") no-repeat;
}

footer .footerCompartir .iconsFooter .iconFacebook:hover {
  background: url("../img/icon_facebook_hover.svg") no-repeat;
}

footer .footerCompartir .iconsFooter .iconTwitter {
  height: 20.2px;
  width: 20px;
  margin-right: 19px;
  background: url("../img/icon-twitter.svg") no-repeat;
}

footer .footerCompartir .iconsFooter .iconTwitter:hover {
  background: url("../img/icon-twitter-hover.svg") no-repeat;
}

footer .footerCompartir .iconsFooter .iconInstagram {
  height: 20.2px;
  width: 20px;
  margin-right: 19px;
  background: url("../img/icon_instagram.svg") no-repeat;
}

footer .footerCompartir .iconsFooter .iconInstagram:hover {
  background: url("/img/icon_instagram-hover.svg") no-repeat;
}

.bottom-accent {
  width: 100%;
  height: 5px;
  background-color: var(--accents);
}

/*mobile*/
@media screen and (max-width: 375px) {
  footer {
    height: 196px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer p:last-child {
    margin-right: 0;
    margin-bottom: 23px;
  }
  footer .footerCompartir {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0;
    margin-bottom: 0;
  }
  footer .footerCompartir br {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .footerCompartir p {
    font-size: 15px;
  }
  footer .footerCompartir p:first-child {
    margin-top: 47px;
    margin-left: 0;
    margin-bottom: 24px;
  }
}
/*# sourceMappingURL=styles_favoritos.css.map */